/* Single cart formating */
.onecart{
    width: 100%;
  
   gap: 20px;
padding-right: 10px;
word-wrap: break-word !important;
}
/* Single cart img */
.onecart img{
    width: 10%;
    border-radius: 50%;
}
