/* Car card footer */
.new-footer{
    background-color: rgb(255, 255, 255);
    border: none;
    text-align: center;
}
/* From css.AddToCarts.io by @xueyuantan */
.AddToCart {
    
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
  
   
   .AddToCart:hover::before {
    width: 9em;
    
   }
  